#container {
   display: flex;
   justify-content: center ;
   align-items: center ;
   min-height: 200;
}

#container div {
   height: 200;
width: 200;
margin: 60px;
}
.blink {
   animation: blink 3s infinite;
}
    @keyframes blink {
      0% {
         opacity: 1;
      }
      50% {
         color: rgb(92, 4, 92);
         opacity: 0;
         
      }
      51% {
         opacity: 0;
         
      }
      100% {
         opacity: 1;
         
      }
    }
    .texto A {
      align-items: center;
    }